

  <!-- Background Image -->
  
<!-- https://t3.ftcdn.net/jpg/01/25/05/50/360_F_125055050_loLfRxF2fJi5Ge0t49jmaIMBUhlmchwE.jpg -->

<img src="https://t3.ftcdn.net/jpg/01/25/05/50/360_F_125055050_loLfRxF2fJi5Ge0t49jmaIMBUhlmchwE.jpg" alt="Background" class="bg-image">

  <!-- Navbar -->
  <div class="navbar">
    <h1>Attendance Management System</h1>
    <a routerLink="/login" class="login-button">Login</a>
  </div>

  <!-- Main Content -->
  <div class="content">
    <h2>Welcome to Attendance Management System</h2>
    <p>Track attendance efficiently and easily.</p>
  </div>


